/* Styles go here */

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}
.gallery {
  background: pink;
  padding: 1em;
}
.goodie {
  background: aqua;
  padding: 1em;
}